<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-log" version="1.0.0">
    <name>Log</name>
    <description>Cordova Log Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Log</keywords>
    <js-module src="www/TestPlugin.js" name="log">
        <clobbers target="log" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidLog" >
                <param name="android-package" value="org.apache.cordova.log.AndroidLog"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/MultiViewActivity.kt" target-dir="java/org/apache/cordova/log/" />

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
            <activity android:name="org.apache.cordova.log.MultiViewActivity" />
        </edit-config>

        <source-file src="src/android/AndroidLog.kt" target-dir="java/org/apache/cordova/log/" />
    </platform>
</plugin>